/**
 * Colors
 * ========================================================================== */
$black-base: rgb(0, 0, 0);
$white-base: rgb(255, 255, 255);


$gray-darker: lighten($black-base,  +13.5%); /* #222 */
$gray-dark: lighten($black-base, +25%); /* #404040 */
$gray: lighten($black-base, +33.5%); /* #555 */
$gray-light: lighten($black-base, +46.7%); /* #777 */
$gray-lighter: lighten($black-base, +93.5%); /* #eee */

// defaults
$background: rgba(230, 230, 230, .83);
$color: $black-base;
$border: rgba(82, 82, 82, .6);

/**
 * Typography
 * ========================================================================== */

// $font-family-base: 'Segoe UI', 'HelveticaNeue-Light', sans-serif;
$fontFamily: (Roboto, Hack, Consolas, Menlo, Monaco, monospace);
$font-family-base: $fontFamily;
$default-font-size: 1rem;
$font: normal normal #{$default-font-size}/100% $font-family-base;

/**
 * Layout
 * ========================================================================== */
$max-content-width: 1800px;

@mixin topToolBar ($shadow-adjust: 0px) {
  $default-height: 60px;
  $navbar-height: $default-height;

  @if unitless($shadow-adjust) {
    @warn "Assuming #{$shadow-adjust} is in pixels";
    $shadow-adjust: 1px * $shadow-adjust;
  }
  @if comparable($shadow-adjust, $default-height) {
    $navbar-height: $default-height + $shadow-adjust;
  }

  height: $navbar-height;
  max-height: $navbar-height;
  min-height: $navbar-height;
}

/**
 * Media queries breakpoints
 * ========================================================================== */

$screen-xs-min: 480px; /* Extra small screen / phone */
$screen-sm-min: 768px; /* Small screen / tablet */
$screen-md-min: 992px; /* Medium screen / desktop */
$screen-lg-min: 1200px; /* Large screen / wide desktop */

/**
 * Animations
 * ========================================================================== */

$animation-swift-out: .45s cubic-bezier(0.3, 1, 0.4, 1) 0s;


// mixins
@mixin clearFix {
  display: inline-block;
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  * html & {
    height: 1px
  }
}

@mixin setColors($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;
}

@mixin stdFont {
  font: {
    family: $fontFamily;
    size: $default-font-size;
    weight: normal;
  }
}

@mixin boxShadow($shadows...) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}

%shadows {
  @include boxShadow(0px 4px 5px #666, 2px 6px 10px #999);
}
