@import "../../stylesheets/variables";
@import '../../stylesheets/base';
// @import '../../stylesheets/main';

.root {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.toolbar {
  position: absolute;
  top: 0;
  width: 100%;
  @include topToolBar();
  @include setColors($color, adjust-hue($background, 180deg), $border);
  @extend %shadows;
}

hr {
  border: 0;
  border-bottom: 1px dashed #f7f7f7;
  border-top: 1px dashed #c5c5c5;
  margin: 20px 0;
}
